__pycache__
/pycypher/*.pyc
/pycypher/tests/*.pyc
/pycypher/*.so
/pycypher/node_types.c
/pycypher/operators.c
/pycypher/props.c
/pycypher/getters.py
/pycypher/version.py
/build
/dist/
/pycypher.egg-info/
